<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Details of the Report</title>
  </head>
  <body>
    <h1>The Details of the  <%= report.Report_id%> is </h1>
    <ul>
      <li>Medical_History :<%= report.Medical_History %></li>
      <li>Date_Of_Entry :<%= report.Date_Of_Entry %></li>
    </ul>
    <a href="/patients">Go back to patients</a>
  </body>
</html>
