<html>
  <head>
    <meta charset="utf-8">
    <title>Contact me</title>
  </head>
  <style media="screen">
  body {
background-image: url("https://images.unsplash.com/photo-1532526338225-bc66ea49a9f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
h1{
text-decoration:underline;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.4);
color: white;
font-weight: bold;
border: 3px solid #f1f1f1;
top: 50%;
left: 50%;
margin:auto;
z-index: 2;
width: 80%;
padding: 20px;
text-align: center;
}
.ff{
width: 10em;
margin-left:auto;
margin-right:auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.4);
color: white;
font-weight: bold;
border: 3px solid #f1f1f1;
top: 50%;
left: 50%;
margin:auto;
z-index: 2;
width: 35%;
padding: 20px;
text-align: center;
}
.submit{
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.4);
color: white;
font-weight: bold;
border: 3px solid #f1f1f1;
top: 50%;
left: 50%;
margin:auto;
z-index: 2;
width: 30%;
padding: 20px;
text-align: center;
font-size: large;
}
a{
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.4);
color: white;
font-weight: bold;
border: 3px solid #f1f1f1;
top: 50%;
left: 50%;
margin:auto;
z-index: 2;
width: 30%;
padding: 20px;
text-align: center;
font-size: large;
}
  </style>
  <body>
    <h1>Contact Us </h1>
    <br>
    <form class="ff" action="mailto:jasminebbps@gmail.com" method="post" enctype="text/plain">
      <label>Your Name:</label>
      <input type="text" name="YourName" value="">
      <br>
      <br>
      <label>Enter your Email ID:</label>
      <input type="email" name="YourEmail" value="">
      <br>
      <br>
      <label>Your Contact Details:</label>
      <input type="number" name=" YourNumber" value="">
      <br><br>
      <label>Your message:</label>
      <br><br>
      <textarea name="Yourmessage" row="10"  cols="30">
        </textarea>
  <fieldset>
    <legend>Purpose to contact us</legend>
    <label><input type="radio" name="Purpose:Medical"> Medical</label>
    <br>
    <br>
     <label><input type="radio" name="Purpose:Business"> Business</label>
  </fieldset>
      <br><br>
      <input class="submit" type="submit" name="">
      <a href="/">Home</a>
      <p>Phone No: 8779978852</p> <p>Address:Hiranandani Estate</p>
  </body>
</html>
