<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <style media="screen">
  body {
  background-repeat: no-repeat;
  background-size: cover;
background-color: #F3FFBD;
color: black;
background-image: url('https://www.samitivejhospitals.com/_nuxt/img/about-us-header-background-mb.359380a.jpg');
}
  h2{
  color:bold black;
  font-family:Georgia;
  text-decoration: underline;
  width:12%;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background: #ececec;
  padding: 20px;
  width: 250px;
  height: 20px;
  background: rgba(0,0,0,0.2);
  }
  .center {
  margin: auto;
  width: 80%;
  border: none;
  padding: 10px;
  }
  p{
  color:bold green;
  margin-top: 0.5em ;
  margin-bottom: 0.5em ;
  margin-left:10%;
  margin-right:10%;
  font-weight: bold;
  }
  a{
    background-color: black;
  border: none;
  border-radius: 25px;
  color:  white;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  }
  </style>
  <body><h2>ABOUT US</h2>
    <p class=center>FORTIX has more than twenty years of involvement with the medical care area, and is known for giving quality medical services and important experience to all homegrown and global patients. Our medical services contributions are upheld by a group of sympathetic and committed clinical experts who have rich information and involvement with their separate areas.</p>

    <p class=center>For more than thirty years, we have represented considerable authority in explicit regions of medication - emotional wellness, muscular health, nervous system science, medical procedure and general medication. This methodology has given us an inside and out comprehension of explicit problems and their medicines, empowering us to zero in on giving the best treatment choices and care for our patients. Every year, our 10,600 representatives treat and care for around 300,000 patients at right now 10 areas in Mumbai</p>

    <p class=center>Our point is to give each patient the possibility of superior personal satisfaction. To do as such, our reinvestment model guarantees we keep up an exclusive requirement of value and can be creative and groundbreaking with our framework, clinical conveyance and staff advancement. Furthermore, our cooperation with experienced pros, master medical care experts, clinical accomplices and patient gatherings guarantees we give the most ideal experience and care for patients and their families when visiting our emergency clinics.</p>
    <p class=center>
However, with the pandemic that has hit all of us we aim to ensure that the patient achieves the best treatment from experienced individuals ensuring the safety of all the patients. With the ongoing pandemic we aim to revolutionize healthcare and make things available to you on a click. Here you can check the live status of availability of corona kits, beds and ventilators which gets updated periodically. You can also login with your credentials and view your doctor details, report etc. without even stepping in the premises of the hospital ensuring complete safety for all the patients. Even if you aren’t a patient don’t worry you can register with us and we will guide you through. Remember we all have to be strong and we can fight this together.
</p>
    <a href="/">Home page</a>
  </body>
</html>
