<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up Patients</title>
  </head>
  <style media="screen">
  body {
  background-repeat: no-repeat;
  background-size: cover;
background-color: #F3FFBD;
color: black;
background-image: url('https://images3.alphacoders.com/101/thumb-350-1010294.jpg');
}
hr{
border-top-style:dotted;
border-bottom-style:none;
border-right-style:none;
border-left-style:none;
border-color: grey;
width-size:200px;
width:5%;
}
.loginform {
  margin-left: auto;
  margin-right: auto;
  border-width: 4px 1.25em;
  align:center;
box-shadow: 0 0 0 0.5rem grey;
border-radius: 15px;
font: bold 1rem sans-serif ;
margin: 5rem;
padding: 0.5rem;
outline-offset: 0.5rem;
text-align: center;
}
.banner{
  width: 1450px;
  height: 300px;
}
input[type=text] {
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: none;
background-color: #fff5ea;
color: bold black;
box-sizing: border-box;
border-radius: 25px;
border: solid #4a7fbf 5px;
}
input[type=number] {
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: none;
background-color: #fff5ea;
color: bold black;
box-sizing: border-box;
border-radius: 25px;
border: solid #4a7fbf 5px;
}
input[type="submit" i] {
  background-color: #4a7fbf;
border: none;
border-radius: 25px;
color:  white;
font-size: 17px;
font-weight: bold;
padding: 10px 20px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
}
label{
  background-color: #4a7fbf;
  color: white;
}
marquee{
  font-size: 40px;
  font-family:sans-serif;
  height: : 50px;
  border-radius: 20px;
  color: black;
  background: rgba(0,0,0,0.2);
}
a{
  background-color: #4CAF50;
border: none;
border-radius: 25px;
color:  white;
font-weight: bold;
padding: 10px 20px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
}
  </style>
  <body>
<div class="loginform">
  <form  action="/patients" method="post">
  <div>
    <label for="_id">Patient_id</label>
    <input type="text" id="_id" name="_id">
  </div>
  <div>
    <label for="Patient_name">Patient Name</label>
    <input type="text" id="Patient_name" name="Patient_name">
  </div>
  <div>
    <label for="Password">Password</label>
    <input type="text" id="Password" name="Password">
  </div>
  <div>
    <label for="Phone_No">Phone_No</label>
    <input type="number" id="Phone_No" name="Phone_No">
  </div>
  <div>
    <label for="Address">Address</label>
    <input type="text" id="Address" name="Address">
  </div>

  <input type="submit">
  </form>

</div>

  </body>
</html>
