<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Beds</title>
  </head>
  <body>
<form  action="/patients/<%=id%>/coronakits" method="post">
<div>
  <label for="_id">Coronakit_id</label>
  <input type="text" id="_id" name="_id">
</div>
<div>
  <label for="Payment_Status">Payment_Status</label>
  <input type="text" id="Payment_Status" name="Payment_Status">
</div>
<div>
  <label for="Cost">Cost</label>
  <input type="number" id="Cost" name="Cost">
</div>
<input type="submit">
</form>

  </body>
</html>
