<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Beds</title>
  </head>
  <body>
<form  action="/patients/<%=id%>/ventilators" method="post">
<div>
  <label for="_id">Ventilator_id</label>
  <input type="text" id="_id" name="_id">
</div>
<div>
  <label for="In_use">In_use</label>
  <input type="text" id="In_use" name="In_use">
</div>
<input type="submit">
</form>

  </body>
</html>
